/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.pagina__entera {
  background-image: url();
  font-family: rubik; }

footer .redes-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  footer .redes-container ul:hover a {
    filter: blur(2px); }
  footer .redes-container ul li {
    display: inline-block;
    width: 50px;
    text-align: center; }
    footer .redes-container ul li a {
      display: block;
      padding: 0 2px;
      border-radius: .4rem;
      background: #FECB22;
      color: #48484f;
      line-height: 35px;
      font-size: 1.5rem;
      box-shadow: 0 3px 5px 0px #00000033;
      transition: .2s; }
      footer .redes-container ul li a:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px #00000066;
        filter: none; }

header {
  position: sticky;
  top: 0%; }

.nombres_menu a:hover {
  transform: translateY(-3px) scale(1.15);
  transition: .4s;
  font-weight: bold;
  filter: none; }

.titulo-agencia {
  font-size: 4.5rem;
  font-weight: bolder; }

.fondo-stripes {
  border: solid #dbae1a 1px;
  background-image: repeating-linear-gradient(135deg, #ecbe28 0px, #FECB22 20px, #fbfaf6 20px, #e0dfd8 40px); }

.imagen-nAgencia {
  border: solid #FECB22 0.3rem; }

.imagen-nAgenciaImagen {
  border: outset #686661 .5rem;
  border-radius: 20px; }

.nuestraA-design {
  background-color: #FECB22;
  color: #2c2b28; }

h2 {
  font-weight: bold; }

.servicios-background {
  border: solid #9b9999 1px;
  padding: 2px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px; }

.card {
  border: solid #444442 1px;
  border-radius: 10px; }
  .card .card-img-top {
    border-radius: 15px; }

.contacto-body {
  background-color: black; }

h1 {
  font-size: normal 2rem; }

.contacto-consulta {
  background-color: white;
  border: solid #FECB22 0.3rem;
  border-radius: 20px;
  margin: 2rem;
  padding: 5rem; }

.boton-consulta {
  background-color: #000;
  border: solid black; }

.btn-primary:hover {
  transform: scale(1.1);
  transition: .4s;
  color: #000;
  background-color: #FECB22;
  border: solid #FECB22;
  font-weight: bold; }

h1 {
  font-size: normal 2rem; }

.container-grid {
  display: grid;
  padding: .5%;
  margin-bottom: .5rem;
  gap: .5rem;
  grid-auto-flow: row;
  grid-template-areas: "primera segunda cuarta quinta" "primera tercera cuarta quinta" "septima septima cuarta sexta" "septima septima cuarta sexta"; }
  .container-grid .primera,
  .container-grid .segunda,
  .container-grid .tercera,
  .container-grid .cuarta,
  .container-grid .quinta,
  .container-grid .sexta,
  .container-grid .septima {
    border: solid 0.35rem #232321;
    border-radius: 8px;
    padding: .1rem;
    margin: .1rem;
    position: relative;
    background-color: #232321; }
  .container-grid .primera {
    grid-area: primera; }
  .container-grid .segunda {
    grid-area: segunda; }
  .container-grid .tercera {
    grid-area: tercera; }
  .container-grid .cuarta {
    grid-area: cuarta; }
  .container-grid .quinta {
    grid-area: quinta; }
  .container-grid .sexta {
    grid-area: sexta; }
  .container-grid .septima {
    grid-area: septima; }
  .container-grid:hover img {
    filter: brightness(20%); }
  .container-grid div img {
    border-radius: 8px;
    transition: .2s; }
    .container-grid div img:hover {
      filter: none; }

h1 {
  font-size: normal 2rem; }

.imagen-nosotros {
  box-shadow: 3px 5px 5px 2px #00000033;
  border-radius: 20px; }

h1 {
  font-size: normal 2rem; }

.container-clientes {
  border: solid #FECB22 1px;
  background-image: repeating-linear-gradient(135deg, #ecbe28 0px, #FECB22 20px, #fbfaf6 20px, #e0dfd8 40px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  margin: 1rem;
  grid-auto-flow: row;
  grid-template-areas: "primera segunda tercera" "cuarta quinta sexta" "septima octava novena" "decima depri deseg"; }
  .container-clientes .primera,
  .container-clientes .segunda,
  .container-clientes .tercera,
  .container-clientes .cuarta,
  .container-clientes .quinta,
  .container-clientes .sexta,
  .container-clientes .septima,
  .container-clientes .octava,
  .container-clientes .novena,
  .container-clientes .decima,
  .container-clientes .depri,
  .container-clientes .deseg {
    border: solid 0.2rem #232321;
    border-radius: 20px;
    padding: 1rem;
    margin: .3rem;
    background-color: #ffffff; }
  .container-clientes .primera {
    grid-area: primera; }
  .container-clientes .segunda {
    grid-area: segunda; }
  .container-clientes .tercera {
    grid-area: tercera; }
  .container-clientes .cuarta {
    grid-area: cuarta; }
  .container-clientes .quinta {
    grid-area: quinta; }
  .container-clientes .sexta {
    grid-area: sexta; }
  .container-clientes .septima {
    grid-area: septima; }
  .container-clientes .octava {
    grid-area: octava; }
  .container-clientes .novena {
    grid-area: novena; }
  .container-clientes .decima {
    grid-area: decima; }
  .container-clientes .deseg {
    grid-area: deseg; }
  .container-clientes .depri {
    grid-area: depri; }

.container-clientes:hover img {
  filter: brightness(18%);
  border-radius: 20px; }

.container-clientes div img {
  display: block;
  padding: 0 2px;
  transition: .2s; }
  .container-clientes div img:hover {
    transform: translateY(-3px) scale(1.02);
    transition: 0.2s;
    filter: none;
    transform: rotate(360deg);
    transition: 1s; }

/* --- Media Queries --- */
@media screen and (max-width: 1400px) {
  .imagen-nAgencia {
    width: 600px;
    height: 400px; } }

@media screen and (max-width: 768px) {
  .container-grid {
    padding: 0%;
    gap: 0;
    grid-template-areas: "primera segunda" "primera tercera" "septima septima" "septima septima" "cuarta quinta" "cuarta quinta" "cuarta sexta" "cuarta sexta"; }
  .primera,
  .segunda,
  .tercera,
  .cuarta,
  .quinta,
  .sexta,
  .septima {
    margin: 0%;
    padding: .5%;
    border: solid .1rem black; }
  .container-clientes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "primera segunda" "tercera cuarta" "quinta sexta" "septima octava" "novena decima" "depri deseg"; }
    .container-clientes .primera,
    .container-clientes .segunda,
    .container-clientes .tercera,
    .container-clientes .cuarta,
    .container-clientes .quinta,
    .container-clientes .sexta,
    .container-clientes .septima,
    .container-clientes .octava,
    .container-clientes .novena,
    .container-clientes .decima,
    .container-clientes .depri,
    .container-clientes .deseg {
      border: solid 0.1rem #232321;
      margin: .1rem; }
  .imagen-Contacto {
    width: 300px;
    height: 295px; }
  .contacto-consulta {
    margin: .5rem;
    padding: 1.5rem; } }

@media screen and (max-width: 600px) {
  .imagen-nAgencia {
    width: 300px;
    height: 200px; } }
