@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.pagina__entera {
  background-image: url();
  font-family: rubik; }

footer .redes-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  footer .redes-container ul:hover a {
    filter: blur(2px); }
  footer .redes-container ul li {
    display: inline-block;
    width: 50px;
    text-align: center; }
    footer .redes-container ul li a {
      display: block;
      padding: 0 2px;
      border-radius: .4rem;
      background: #FECB22;
      color: #48484f;
      line-height: 35px;
      font-size: 1.5rem;
      box-shadow: 0 3px 5px 0px #00000033;
      transition: .2s; }
      footer .redes-container ul li a:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px #00000066;
        filter: none; }

header .nombres__menu div a:hover {
  transform: translateY(-3px) scale(1);
  filter: none; }

.container-grid {
  display: grid;
  padding: 2%;
  gap: 1rem;
  grid-auto-flow: row;
  grid-template-areas: "primera segunda cuarta quinta" "primera tercera cuarta quinta" "septima septima cuarta sexta" "septima septima cuarta sexta"; }
  .container-grid .primera {
    grid-area: primera;
    border: solid 10px;
    padding: .5rem;
    margin: .2rem; }
  .container-grid .segunda {
    grid-area: segunda;
    border: solid 10px;
    padding: .5rem;
    margin: .2rem; }
  .container-grid .tercera {
    grid-area: tercera;
    border: solid 10px;
    padding: .5rem;
    margin: .2rem; }
  .container-grid .cuarta {
    grid-area: cuarta;
    border: solid 10px;
    padding: .5rem;
    margin: .2rem; }
  .container-grid .quinta {
    grid-area: quinta;
    border: solid 10px;
    padding: .5rem;
    margin: .2rem; }
  .container-grid .sexta {
    grid-area: sexta;
    border: solid 10px;
    padding: .5rem;
    margin: .2rem; }
  .container-grid .septima {
    grid-area: septima;
    border: solid 10px;
    padding: .5rem;
    margin: .2rem; }

.imagen-nosotros {
  box-shadow: 3px 5px 5px 2px #00000033; }

.container-clientes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  margin: 1rem;
  grid-auto-flow: row;
  grid-template-areas: "primera segunda tercera" "cuarta quinta sexta" "septima octava novena" "decima depri deseg"; }
  .container-clientes .primera {
    grid-area: primera;
    border: solid 2px black;
    padding: 3rem;
    margin: 1rem; }
  .container-clientes .segunda {
    grid-area: segunda;
    border: solid 2px black;
    padding: 3rem;
    margin: 1rem; }
  .container-clientes .tercera {
    grid-area: tercera;
    border: solid 2px black;
    padding: 3rem;
    margin: 1rem; }
  .container-clientes .cuarta {
    grid-area: cuarta;
    border: solid 2px black;
    padding: 3rem;
    margin: 1rem; }
  .container-clientes .quinta {
    grid-area: quinta;
    border: solid 2px black;
    padding: 3rem;
    margin: 1rem; }
  .container-clientes .sexta {
    grid-area: sexta;
    border: solid 2px black;
    padding: 3rem;
    margin: 1rem; }
  .container-clientes .septima {
    grid-area: septima;
    border: solid 2px black;
    padding: 3rem;
    margin: 1rem; }
  .container-clientes .octava {
    grid-area: octava;
    border: solid 2px black;
    padding: 3rem;
    margin: 1rem; }
  .container-clientes .novena {
    grid-area: novena;
    border: solid 2px black;
    padding: 3rem;
    margin: 1rem; }
  .container-clientes .decima {
    grid-area: decima;
    border: solid 2px black;
    padding: 3rem;
    margin: 1rem; }
  .container-clientes .deseg {
    grid-area: deseg;
    border: solid 2px black;
    padding: 3rem;
    margin: 1rem; }
  .container-clientes .depri {
    grid-area: depri;
    border: solid 2px black;
    padding: 3rem;
    margin: 1rem; }

/* --- Media Queries --- */
@media screen and (max-width: 768px) {
  .container-grid {
    grid-template-areas: "primera segunda" "primera tercera" "septima septima" "septima septima" "cuarta quinta" "cuarta quinta" "cuarta sexta" "cuarta sexta"; }
  .primera {
    margin: 0%;
    padding: 2%; }
  .segunda {
    margin: 0%;
    padding: 2%; }
  .tercera {
    margin: 0%;
    padding: 2%; }
  .cuarta {
    margin: 0%;
    padding: 2%; }
  .quinta {
    margin: 0%;
    padding: 2%; }
  .sexta {
    margin: 0%;
    padding: 2%; }
  .septima {
    margin: 0%;
    padding: 2%; }
  .container-clientes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "primera segunda" "tercera cuarta" "quinta sexta" "septima octava" "novena decima" "depri deseg"; } }
