.container-clientes {
    border: solid #dbae1a 1px;
    background-image: repeating-linear-gradient(
        135deg,
        #ecbe28 0px,
        #FECB22 20px,
        #fbfaf6 20px,
        #e0dfd8 40px,
    );
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    margin: 1rem;
    grid-auto-flow: row;
    grid-template-areas:
        "primera segunda tercera"
        "cuarta quinta sexta"
        "septima octava novena"
        "decima depri deseg";
        .primera,
        .segunda,
        .tercera,
        .cuarta,
        .quinta,
        .sexta,
        .septima,
        .octava,
        .novena,
        .decima,
        .depri,
        .deseg {
            border: solid .2rem black;
            padding: 1rem;
            margin: .5rem;
            background-color: #ffffff;
        }
        .primera {
            grid-area: primera;
        }
        .segunda {
            grid-area: segunda;
        }
        .tercera {
            grid-area: tercera;
        }
        .cuarta {
            grid-area: cuarta;
        }
        .quinta {
            grid-area: quinta;
        }
        .sexta {
            grid-area: sexta;
        }
        .septima {
            grid-area: septima;
        }
        .octava {
            grid-area: octava;
        }
        .novena {
            grid-area: novena;
        }
        .decima {
            grid-area: decima;
        }
        .deseg {
            grid-area: deseg;
        }
        .depri {
            grid-area: depri;
        }
}