.titulo-agencia {
    font-size: 4.5rem;
}
.fondo-stripes {
    border: solid #dbae1a 1px;
    background-image: repeating-linear-gradient(
        135deg,
        #ecbe28 0px,
        #FECB22 20px,
        #fbfaf6 20px,
        #e0dfd8 40px,
    );
}