.titulo-agencia {
    font-size: 4.5rem;
    font-weight: bolder;
}
.fondo-stripes {
    border: solid #dbae1a 1px;
    background-image: repeating-linear-gradient(
        135deg,
        #ecbe28 0px,
        $color-primario 20px,
        #fbfaf6 20px,
        #e0dfd8 40px,
    );
}
.imagen-nAgencia {
    border: solid $color-primario .3rem;
}
.imagen-nAgenciaImagen {
    border: outset #686661 .5rem;
    border-radius: 20px;
}
.nuestraA-design {
    background-color: $color-primario;
    color: #2c2b28;
}
h2 {
    font-weight: bold;
}
.servicios-background {
    border: solid #9b9999 1px;
    padding: 2px;
    color: #000;
    background-color: #fff;
    opacity: .6;
    border-radius: 10px;
}
.card {
    border: solid #444442 1px;
    border-radius: 10px;
    .card-img-top {
        border-radius: 15px;
    }
}