h1 {
    font-size: $titulo-tamano;
}
.container-grid {
    display: grid;
    padding: .5%;
    margin-bottom: .5rem;
    gap: .5rem;
    grid-auto-flow: row;
    grid-template-areas:
    "primera segunda cuarta quinta"
    "primera tercera cuarta quinta"
    "septima septima cuarta sexta"
    "septima septima cuarta sexta";
    .primera,
    .segunda,
    .tercera,
    .cuarta,
    .quinta,
    .sexta,
    .septima {
        border: solid .35rem $color-grisOscuro;
        padding: .1rem;
        margin: .1rem;
        position: relative;
        background-color: $color-grisOscuro;
    }
    .primera { 
        grid-area: primera;
    }
    .segunda { 
        grid-area: segunda;
    }
    .tercera { 
        grid-area: tercera;
    }
    .cuarta { 
        grid-area: cuarta;
    }
    .quinta { 
        grid-area: quinta;
    }
    .sexta { 
        grid-area: sexta;   
    }
    .septima { 
        grid-area: septima; 
    }
    &:hover img {
        filter: brightness(20%);
    }
    div {
        img {
            transition: .2s;
            &:hover {
                filter: none;
                }
        }
    }
}