header {
    position: sticky;
    top: 0%;
}
.nombres_menu {
    a:hover {
        transform: translateY(-3px) scale(1.15);
        transition: .4s;
        font-weight: bold;
        filter: none;
    }
}