header {
    position: sticky; z-index: 1;
    top: 0%;
}
.nombres_menu {
    a:hover {
        transform: translateY(-3px) scale(1.15);
        transition: .3s;
        font-weight: bold;
        filter: none;
    }
}