/* --- Media Queries --- */
@media screen and (max-width: 768px) {
    .container-grid {
        gap: 0;
        grid-template-areas:
        "primera segunda"
        "primera tercera"
        "septima septima"
        "septima septima"
        "cuarta quinta"
        "cuarta quinta"
        "cuarta sexta"
        "cuarta sexta";
        }
        .primera {
            margin: 0%;
            padding: 2%;
            border: solid .4rem black;
        }
        .segunda {
            margin: 0%;
            padding: 2%;
            border: solid .4rem black;
        }
        .tercera {
            margin: 0%;
            padding: 2%;
            border: solid .4rem black;
        }
        .cuarta {
            margin: 0%;
            padding: 2%;
            border: solid .4rem black;
        }
        .quinta {
            margin: 0%;
            padding: 2%;
            border: solid .4rem black;
        }
        .sexta {
            margin: 0%;
            padding: 2%;
            border: solid .4rem black;
        }
        .septima {
            margin: 0%;
            padding: 2%;
            border: solid .4rem black;
        }
    .container-clientes {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "primera segunda"
        "tercera cuarta"
        "quinta sexta"
        "septima octava"
        "novena decima"
        "depri deseg";
    }
}
